@import "bootstrap/dist/css/bootstrap.min.css";

.logo-img {
  height: 5em; 
  width: auto; 
margin-left: 20px;
}

.titulo {
  margin: 0 auto;
  text-align: center;
} 

.banderas {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 25px;
}

.logo-container, .titulo, .flag-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.logo-container {
  justify-content: flex-start;
}

.flag-container {
  justify-content: flex-end;
}


.banderaEsp, .banderaEng {
  height: 45px;
  width: auto;
}

/**/
nav {
  position: fixed; /* o relative si prefieres */
  top: 0;
  background-color: #343a40; /* bg-dark */
  color: #ffffff; /* text-white */
  text-align: center; /* text-center */
  width: 100%;
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  display: flex; /* d-flex */
  align-items: center; /* align-items-center */
  box-sizing: border-box; /* Incluye padding y border en el ancho total */
}