@import "bootstrap/dist/css/bootstrap.min.css";

.logo-img {
  height: 5em; 
  width: auto; 
margin-left: 20px;
}



h1 {
  margin: 0 auto;
  text-align: center;
} 

.banderas {
  position: absolute;
  top: 10px;
  right: 10px;
  display: flex;
  gap: 25px;
}

.banderaEsp, .banderaEng {
  height: 45px;
  width: auto;
}

/**/
nav {
  background-color: #343a40; /* bg-dark */
  color: #ffffff; /* text-white */
  text-align: center; /* text-center */
  position: fixed; /* fixed-top */
  top: 0;
  width: 100%;
  padding-top: 0.5rem; /* py-2 */
  padding-bottom: 0.5rem; /* py-2 */
  display: flex; /* d-flex */
  align-items: center; /* align-items-center */
}